{% extends 'base.html' %}

{% block title %}Игра {{ white.username }} VS {{ black.username }}{% endblock %}

{% block content %}

<style>
    .game-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .player-info {
        flex: 1;
        max-width: 200px;
        text-align: center;
    }

    .player-info img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .board-container {
        flex: 2;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 60vmin;
        height: 60vmin;
    }

    .cell {
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
    }

    .cell.black {
        background-color: #888;
    }

    .piece {
        width: 90%;
        height: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .game-summary {
        text-align: center;
        margin-top: 20px;
    }
</style>

<div class="game-container">
    <div class="player-info">
        <img src="{{ white.avatar.url }}" alt="Аватар {{ white.username }}">
        <h3>
            {% if white.first_name != '' and white.last_name != '' %}
                {{ white.first_name }} {{ white.last_name }}
            {% elif white.first_name != '' and white.last_name == '' %}
                {{ white.first_name }}
            {% else %}
                @{{ white.username }}
            {% endif %}
        </h3>
        <p>Счет: <span id="white_score">...</span></p>
        <p>Время: <span id="white_passed_time">...</span> / {{ game.max_time }}</p>
        <p>Потеряно фигур: <span id="destroyed_white_pieces">...</span></p>
    </div>

    <div class="board-container">
        <div class="board" id="board"></div>
    </div>

    <div class="player-info">
        <img src="{{ black.avatar.url }}" alt="Аватар {{ black.username }}">
        <h3>
            {% if black.first_name != '' and black.last_name != '' %}
                {{ black.first_name }} {{ black.last_name }}
            {% elif black.first_name != '' and black.last_name == '' %}
                {{ black.first_name }}
            {% else %}
                @{{ black.username }}
            {% endif %}
        </h3>
        <p>Счет: <span id="black_score">...</span></p>
        <p>Время: <span id="black_passed_time">...</span> / {{ game.max_time }}</p>
        <p>Потеряно фигур: <span id="destroyed_black_pieces">...</span></p>
    </div>
</div>

<div class="game-summary">
    <p id="winner">...</p>
    <p>Последний ход был: <span id="last_movement_time">...</span></p>
    <p>Начало игры: {{ game.start_time }}</p>
    <p>Статус: <span id="game_status">...</span></p>
</div>

<script>
    const fetch_timer = 3000
    const color = 'white'
    const mirrored = true

    const fetchData = () => {
        fetch(`/api/?key=game&id={{ game.id }}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('white_score').textContent = data.white_player_score
                document.getElementById('white_passed_time').textContent = data.white_passed_time
                document.getElementById('destroyed_white_pieces').textContent = data.destroyed_white_pieces.length

                document.getElementById('black_score').textContent = data.black_player_score
                document.getElementById('black_passed_time').textContent = data.black_passed_time
                document.getElementById('destroyed_black_pieces').textContent = data.destroyed_black_pieces.length

                if (data.winner) {
                    document.getElementById('winner').textContent = `Победил: ${data.winner}`
                } else {
                    document.getElementById('winner').textContent = 'Победитель пока не определен'
                }

                if (data.ended && !data.playing) {
                    document.getElementById('game_status').textContent = 'Игра окончена'
                } else if (!data.ended && !data.playing) {
                    document.getElementById('game_status').textContent = 'Игра приостановлена или не началась'
                } else {
                    document.getElementById('game_status').textContent = 'Игра продолжается'
                }

                document.getElementById('last_movement_time').textContent = data.last_movement_time

                updatePieces(data.movements[data.movements.length-1])
            })
    }

    const createBoard = () => {
        const board = document.getElementById('board')
        for (let y = 0; y < 8; y++) {
            for (let x = 0; x < 8; x++) {
                const cell = document.createElement('div')
                cell.className = 'cell'
                if (color === 'white') {
                    if ((x + y) % 2 === 0) {
                        cell.className += ' black'
                    }
                } else {
                    if ((x + y) % 2 !== 0) {
                        cell.className += ' black'
                    }
                }
                cell.dataset.x = x
                cell.dataset.y = y
                board.appendChild(cell)
            }
        }
    }

    const updatePieces = (boardLayout) => {
        const cells = document.querySelectorAll('.cell')
        for (let x = 0; x < 8; x++) {
            for (let y = 0; y < 8; y++) {
                const pieceName = boardLayout[x][y].toLowerCase()
                const cell = cells[(mirrored ? 7 - x : x) * 8 + y]

                if (pieceName) {
                    if (cell.children.length === 0 || cell.children[0].dataset.pieceName !== pieceName) {
                        if (cell.children.length > 0) {
                            cell.removeChild(cell.children[0])
                        }
                        const piece = document.createElement('div')
                        piece.className = 'piece'
                        piece.style.backgroundImage = `url("/media/modified_pieces/${pieceName.split(' ')[1]}_${pieceName.split(' ')[0]}.png")`
                        piece.dataset.color = pieceName.split(' ')[1]
                        piece.dataset.type = pieceName.split(' ')[0]
                        piece.dataset.pieceName = pieceName
                        cell.appendChild(piece)
                    }
                } else {
                    if (cell.children.length > 0) {
                        cell.removeChild(cell.children[0])
                    }
                }
            }
        }
    }

    setInterval(fetchData, fetch_timer)

    createBoard()
    fetchData()
</script>

{% endblock %}
