{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block header %}
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .column {
            width: 48%;
        }
        h3 {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="column">
            <h3>Активные игры <button onclick="refresh()">Обновить</button></h3>
            <ul id="games-list"></ul>
        </div>
    </div>

    <script>
        let activeGamesIndex = 0
        let usersQueueIndex = 0
        const portion = 2
        let loading = false

        const loadMoreData = () => {
            if (loading) return
            loading = true

            fetch(`/api/?key=active_games&index=${activeGamesIndex}&portion=${portion}`)
                .then(response => response.json())
                .then(data => {
                    const gamesList = document.getElementById('games-list')
                    data.forEach(game => {
                        const gameElement = document.createElement('li')
                        gameElement.innerHTML = `<a href="{% url 'chess:home_redirect' %}${game.id}/info">Game ${game.white_player} vs ${game.black_player}</a>`
                        gamesList.appendChild(gameElement)
                    })
                    activeGamesIndex += portion
                })
                .finally(() => loading = false)
        }

        const getCookie = (name) => {
            let cookieValue
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';')
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim()
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1))
                        break
                    }
                }
            }
            return cookieValue
        }

        const refresh = () => {
            activeGamesIndex = 0
            loadMoreData()
        }

        window.onscroll = () => {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                loadMoreData()
            }
        }

        loadMoreData()
    </script>
{% endblock %}
