{% extends 'base.html' %}

{% block title %}Топ игроков{% endblock %}

{% block header %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Ник</th>
            <th>Счет</th>
            <th>Уровень</th>
            <th>Количество игр</th>
            <th>Винрейт</th>
        </tr>
    </thead>
    <tbody>
    {% for iuser in users %}
        <tr>
            <td>
                {% if iuser.first_name != '' and iuser.last_name != '' %}
                    {{ iuser.first_name }} {{ iuser.last_name }}
                {% elif iuser.first_name != '' and iuser.last_name == '' %}
                    {{ iuser.first_name }}
                {% else %}
                    @{{ iuser.username }}
                {% endif %}
            </td>
            <td>{{ iuser.global_score }}</td>
            <td>{{ iuser.level }}</td>
            <td>{{ iuser.games_count }}</td>
            <td>{{ iuser.winrate }}%</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Динамически подгружать таблицу порциями запросом к api/?key=leaders&portion=int&index=int -->
<!-- Ответ от апи содаржит json список словарей с ключами username, global_score, level, games_count, winrate -->

{% endblock %}
