<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site{% endblock %}</title>
    <style>
        .user-avatar {
            width: 25px;
            height: 25px;
            border-radius: 20%;
        }
        .big-user-avatar {
            width: 200px;
            height: 200px;
            border-radius: 10%;
        }
        .survey-avatar {
            width: 100px;
            height: 100px;
            border-radius: 10%;
        }
        #timer-menu {
            display: none;
        }
    </style>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'chess:home' %}"></a></li>
                <button onclick="start()">Играть</button>
                {% if user.username != '' %}
                    <li><a href="{% url 'auth:info' %}">{{ user.username }}</a>
                        <img src="{{ user.avatar.url }}" alt="Твой аватар" class="user-avatar"></li>
                    <li><a href="{% url 'auth:logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'auth:auth' %}">Регистрация/Вход</a></li>
                {% endif %}
            </ul>

            <div id="timer-menu">
                <p>Timer: <span id="timer">0</span> seconds</p>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <script>
        const start = () => {alert(1)}
    </script>

</body>
</html>
