<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}Site{% endblock %}</title>
    <style>
        .profile-button {
            display: flex;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
        }

        .profile-button img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        #timer-menu {
            display: none;
        }

        main {
            padding: 20px;
        }
    </style>
</head>
<body class="dark-theme">
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'chess:home' %}">Главная</a></li>
                <li><a href="{% url 'chess:leaders' %}">Список лидеров</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth:info' %}" class="profile-button">
                            <img src="{{ user.avatar.url }}" alt="Твой аватар">
                            <span>{{ user.username }}</span>
                        </a>
                    </li>
                    <li><a href="{% url 'auth:logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'auth:auth' %}">Регистрация/Вход</a></li>
                {% endif %}
            </ul>
            <button id="start-game-button">Играть</button>
            <div id="timer-menu">
                <p>Таймер: <span id="timer">0</span> секунд</p>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <button id="send-message">Send Message</button>
    <div id="messages"></div>

    <script>
        const ws = new WebSocket('ws://' + window.location.host + '/ws/chess/');

        ws.onopen = function(event) {
            console.log('WebSocket is open now.');
        };

        ws.onmessage = function(event) {
            const message = JSON.parse(event.data).message;
            document.getElementById('messages').innerHTML += `<div>${message}</div>`;
        };

        ws.onclose = function(event) {
            console.log('WebSocket is closed now.');
        };

        document.getElementById('send-message').onclick = function() {
            const message = 'Hello, WebSocket!';
            ws.send(JSON.stringify({ 'message': message }));
        };
    </script>
    </script>
</body>
</html>
