<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site{% endblock %}</title>
    <style>
        .profile-button {
            display: flex;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
        }

        .profile-button img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        #timer-menu {
            display: none;
        }

        main {
            padding: 20px;
        }
    </style>
</head>
<body class="dark-theme">
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'chess:home' %}">Главная</a></li>
                <li><a href="{% url 'chess:leaders' %}">Список лидеров</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'auth:info' %}" class="profile-button">
                            <img src="{{ user.avatar.url }}" alt="Твой аватар">
                            <span>{{ user.username }}</span>
                        </a>
                    </li>
                    <li><a href="{% url 'auth:logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'auth:auth' %}">Регистрация/Вход</a></li>
                {% endif %}
            </ul>
            
            <button id="start-game-button" onclick="start_game()">Начать игру</button>
            <div id="timer-menu">
                <p>Таймер: <span id="timer">0</span> секунд</p>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <div id="messages"></div>

    <script>
        let ws;
        let timerInterval;

        const start_button = document.querySelector("#start-game-button");
        const timerElement = document.getElementById("timer-menu");
        const timerSpan = document.getElementById("timer");


        const start_game = () => {
            ws = new WebSocket('ws://' + window.location.host + '/ws/chess/');

            ws.onopen = function(event) {
                console.log('WebSocket is open now.');
            };

            ws.onmessage = function(event) {
                const message = JSON.parse(event.data).message;
                document.getElementById('messages').innerHTML += `<div>${message}</div>`;
            };

            ws.onclose = function(event) {
                console.log('WebSocket is closed now.');
            };

            start_button.textContent = "Прервать поиск";
            start_button.onclick = stop_game;

            let seconds = 0;
            timerElement.style.display = "block";
            timerInterval = setInterval(() => {
                seconds++;
                timerSpan.textContent = seconds;
            }, 1000);
        };

        const stop_game = () => {
            start_button.textContent = "Начать игру";
            start_button.onclick = start_game;
            if (ws != null) {
                ws.close();
            }
            clearInterval(timerInterval);
            timerElement.style.display = "none";
            timerSpan.textContent = "0";
        };
    </script>
</body>
</html>
